{
  "env": {
    "es": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "esmodules": false
          }
        }]
      ],
      "plugins": [
        ["import", {
          "libraryName": "test",
          "libraryDirectory": "es"
        }]
      ]
    },
    "common": {
      "presets": ["@babel/preset-env"],
      "plugins": [
        ["import", {
          "libraryName": "test"
        }]
      ]
    }
  }
}